*~
.hsenv_*
.hsenv
dist_*
dist
00-HSENV-DIRECTORY
.ghci
mlack
yesod-devel
.vagrant
*_flymake.*
/static/tmp/*
/static/combined/*
.shelly
.floo
.flooignore
elpa
.stack-work
.emacs.d/eshell/*
.emacs.d/emms/*
.emacs.d/project-bookmarks.eld
